:root {
    /* Colores */
    --color-principal-oscuro: #6c584c;
    --color-principal-claro: #a98467;
    --color-acento: #adc178;
    --color-secundario: #f0ead2;
    /* Border */
    --border-radius: 16px;
}

@font-face {
    font-family: "Nunito";
    src: url("./fonts/nunito.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

/****************Header nellys***********/
.header__nav{
    display: flex;
}
.lista{
    display: flex;
    gap:16px;
    list-style: none;
}
.lista-items a{
    text-decoration: none;
    color: var(--color-acento);
}
.btn-header{}

/* Front Page*/
.main {

    background-color: var(--color-secundario);

}

.cabecera__contacto {


    text-decoration: none;

    background-color: var(--color-acento);

    border-radius: 16px;

    color: var(--color-principal-oscuro);

    padding: 8px;

    font-weight: bold;

}


.img__art {
    height: 300px;
    width: 250px;

}

.img__cabecera {

    width: 100vh;

}

.main__img {
    width: 100vh;

}

.section__art {

    display: flex;

    flex-direction: column;


}

.art {

    display: flex;

    flex-direction: column;

}

.art1 {}

.art2 {}

.art3 {}

.lateral {}

/* Página de contacto */
.contacto {
    background-color: var(--color-secundario);
    display: flex;
    min-height: 40vh;

}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--color-principal-oscuro);
}

.formulario__input,
.formulario__text {
    width: 100%;
    min-height: 32px;
    padding: 16px;
}

.formulario,
.datos {
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 16px;
}

.datos {
    justify-content: space-between;
}

.datos__card {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.formulario__submit {
    padding: 8px;
    border: none;
    border-radius: var(--border-radius);
    color: var(--color-principal-oscuro);
    background-color: var(--color-acento);
}
